{% extends 'base.html' %}
{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'css/edit_book.css' %}">

{% endblock %}


{% block content %}

    <div class="page-title">
        O'chirish
    </div>

    <div class="row">
        Haqiqattan ham <span class="book-title" style="font-weight: 900;">{{ book.name }}</span> kitobini o'chirmoqchimisiz ?
    </div>

    <div class="actions">
        <a href="{% url 'books_page' %}" class="button save">Ortga</a>
        <div class="space"></div>
        <a href="{% url 'confirm_delete_book' book.id %}" class="button delete">O'chirish</a>
    </div>

{% endblock content %}