{% extends 'base.html' %}
{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'css/edit_book.css' %}">

{% endblock %}


{% block content %}

<div class="page-title">
    Tahrirlash
</div>

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="book-title">{{ book.name }}</div>

    <div class="field">
        <div class="label">
            Rasmlar
        </div>
        <div class="image-field">
            {% for img in book.images.all %}
            <div class="image">
                <img src="{{ img.image.url }}" alt="asdad" />
            </div>

            {% endfor %}

            <input type="file" accept="image/*" multiple id="image-field" name="images">
        </div>
    </div>
    <div class="field">
        <div class="label">Kitob nomi</div>
        <input type="text" name="name" required placeholder="Ibodati islomiya" value="{{ book.name }}">
    </div>

    <div class="field">
        <div class="label">Kitob haqida</div>
        <textarea name="description" placeholder="Kitob haqida" rows="4">{{ book.description }}</textarea>
    </div>

    <div class="field">
        <div class="label">Yozuvchi</div>
        <input type="text" name="author" required value="{{ book.author }}">
    </div>

    <div class="field">
        <div class="label">Soni</div>
        <input type="number" name="count" required value="{{ book.count }}">
    </div>

    <div class="field">
        <div class="label">ISBN</div>
        <input type="number" name="isbn" required value="{{ book.isbn }}">
    </div>

    <div class="field">
        <div class="label">Kitob narxi (so'mda)</div>
        <input type="number" name="price" maxlength="13" required value="{{ book.price }}">
    </div>

    <div class="field tag-field">
        <div class="label">Janrlar</div>
        <select multiple name="genres">
            {% for gn in genres %}
            <option value="{{ gn.pk }}" {% if gn in book.genres.all %} selected {% endif %}>{{ gn.name }}</option>
            {% endfor %}
        </select>
    </div>


    <div class="actions">
        <input value="Saqlash" class="button save" type="submit" name="save">
        <input value="Saqlash va davom etish" class="button" type="submit" name="continue">
        <div class="space"></div>
        <a href="{% url 'delete_book_page' book.id %}" class="button delete">O'chirish</a>
    </div>
</form>


<script src="{% static 'js/image-field.js' %}"></script>


{% endblock content %}