{% extends 'base.html' %}
{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'css/edit_book.css' %}">

{% endblock %}


{% block content %}

<div class="page-title">
    Tahrirlash
</div>

<form method="POST">{% csrf_token %}
    <div class="book-title">{{ book.name }}</div>
    <div class="field">
        <div class="label">Kitob nomi</div>
        <input type="text" name="name" required placeholder="Ibodati islomiya" value="{{ book.name }}">
    </div>

    <div class="field">
        <div class="label">Kitob haqida</div>
        <textarea name="description" placeholder="Kitob haqida" rows="4">{{ book.description }}</textarea>
    </div>

    <div class="field">
        <div class="label">Yozuvchi</div>
        <input type="text" name="author" required value="{{ book.author }}">
    </div>

    <div class="field">
        <div class="label">Soni</div>
        <input type="number" name="count" required value="{{ book.count }}">
    </div>

    <div class="field">
        <div class="label">ISBN</div>
        <input type="number" name="isbn" required value="{{ book.isbn }}">
    </div>

    <div class="field">
        <div class="label">Kitob narxi (so'mda)</div>
        <input type="number" name="price" maxlength="13" required value="{{ book.price }}">
    </div>

    <div class="field tag-field">
        <div class="label">Janrlar</div>
        <select multiple name="genres">
            {% for gn in genres %}
            <option value="{{ gn.pk }}" {% if gn in book.genres.all %} selected {% endif %}>{{ gn.name }}</option>
            {% endfor %}
        </select>
    </div>


    <div class="actions">
        <button class="button save">Saqlash</button>
        <div class="button">Saqlash va davom etish</div>
        <div class="space"></div>
        <a href="{% url 'delete_book_page' book.id %}" class="button delete">O'chirish</a>
    </div>
</form>



{% endblock content %}